- provide(:title, 'Help')
.splash.l-centered
	.pure-g-r.pure-u-2-3
		%h1.splash-head-smaller Help
		%h2.splash-subhead 
			Get help on the Ruby on Rails Tutorial at the
			%a{:href => "http://railstutorial.org/help"} Rails Tutorial help page
			To get help on this sample app, see the
			%a{:href => "http://railstutorial.org/book"}Rails Tutorial book
