.splash
	.pure-g-r
		.pure-u-2-3	
			.l-box.splash-text
				%h1.splash-head Sample App
				%p
					This is the home page for the 
					%a{:href => "http://railstutorial.org/"} Ruby on Rails tutorial.
