- provide(:title, 'All users')
.splash.pure-g-r
  .l-centered
    .pure-u-2-3
      %h1.splash-head-smaller All users
  .pure
    .pure-u-1-3
    .pure-u-1-3
      = will_paginate
      %ul.users
        = render @users
      = will_paginate