.legal.pure-g-r
  .pure-u-2-5
    .l-box
      %p.legal-license
        This site is built with &lt;3 using Pure Sass
      %p.legal-license
        I don't like legal stuff
  .pure-u-1-5
    %p.l-centered
      \&copy; Aw more legal stuff 
  .pure-u-2-5
    .l-box
      %ul.legal-links.pure-g
        %li.pure-u-1-2
          = render 'layouts/github_star'
        %li
        %p       
          = render 'layouts/twitter'