.pure-menu.pure-menu-open.pure-menu-fixed.pure-menu-horizontal
	%a.pure-menu-heading{:href => root_path} 
		.red
			Sample App
	%ul
		%li= link_to "Home", root_path
		%li= link_to "Help", help_path
		%li= link_to "Sign in", signin_path	
		%li= link_to "Contact", contact_path
		%li.red WARNING: Not done! Probably will break!


