.header
	.pure-menu.pure-menu-open.pure-menu-fixed.pure-menu-horizontal
		%a.pure-menu-heading{:href => "home"} Sample App
		%ul
			%li= link_to "Home", 'home'
			%li= link_to "Help", 'help'
			%li= link_to "Sign in", '#'	
			%li= link_to "Contact", 'contact'

